body { margin: 0; padding: 0;font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: none;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%;height:75vh; }
#popup-window-buttons{display:none;}
.add-control {
    position:absolute;
    z-index:4;
    background-color: white;
    border: 0;
    border-radius:4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 29px;
    outline: none;
    overflow: hidden;
    padding: 0;
    width: 29px;
}

#share-control{
    right:.73em;
    top:7.1em;
}
#extent-control{
    right:.73em;
    top:9.4em;
}
#basemap-control{
    right:.73em;
    top:11.7em;
}
#basemap-list{
    position:absolute;
    z-index:4;
    border-radius:4px;
    color:black;
    background-color: #DADADA;
    right:.73em;
    top: 16.4em;
    width:10em;
}
.card{border-style:none!important;}
.filter-colors{
    /* background-color: rgb(88, 182, 150) */
    background-color:transparent;
    /* background-color: rgba(255, 255, 255, 0.10); */
    font-size:1em;
    /* background-color: #3d3b3b; */
    /* color:white; */
}
#filter-container{
    position:absolute;z-index:4;bottom:0;
    background-color:#72AA9F;
    height:25vh;
}
#filter-button{
    position:absolute;z-index:4;bottom:0;left:.1em;
    margin-left:1em;
    /* background-color:rgba(127, 255, 212, 0.9); */
    background-color: #72AA9F;
    font-size:1.3rem;
    width:8em;height:2em;
    border-style:none;
    border-top-left-radius: 10px;border-top-right-radius: 10px;
    border-bottom-left-radius:0px;border-bottom-right-radius:0px;
    color:white;
}
#filter-content{
    margin-left:.7em!important;
    margin:0;padding:0;
    padding-top:8px;
    width:100vw;height:100%;
    /* color:white; */
    display:flex;
}
.card-filter{
    color:white;
    background-color: rgba(255, 255, 255, 0.10);
    height:12.5em;
}
.card-filter-header{
    font-size:1.3em!important;
}
.card-filter-body{
    overflow-x: scroll;
    color:white!important;
}
.filter-treeviews{
    overflow-y: scroll;
    max-height:8em;
    background-color: transparent!important;
}
.treeview a {
    font-size: .9em;
    color:white!important;
    background-color: transparent;
    font-family: "Source Sans 3", sans-serif;
}
.treeview, .treeview ul:not(.d-menu) {
    background-color: transparent;
}
.checkbox .check, .checkbox .caption, .radio .check, .radio .caption{
    font-size: .9em;
    color:white!important;
    font-family: "Source Sans 3", sans-serif;
    /* width:12px;height:12px; */
}
.checkbox input[type=checkbox]:checked~.check {
    background-color: #72AA9F!important;
}
/* Slider styling */
.slider .complete {
    background-color: grey;
}
.slider .marker {
    background-color: #72AA9F;
    border-color:black;
    border-radius:50%;
}
.slider{width:96%;margin-top:4%;margin-left:2%;margin-right:2%;
}
#slider-return-value{font-size:.9em;color:white!important;}
#slider-return-value{
    width:97%;
    margin:1%;
    border-style:none;
}

/* Popups */
.mapboxgl-popup-content {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    /* padding: 10px 10px 15px; */
    padding:0!important;
    pointer-events: auto;
    position: relative;
}
.mapboxgl-popup-tip{
    border-right-color: rgba(250, 235, 215, 0.9)!important;
}
.cases-popup-container{
    width:36em;
    background-color: rgba(250, 235, 215, 0.9);
    padding:8px;
    overflow-y: scroll;
    max-height:40vh;
}
.popup-text{font-size:1.2em;}
.popup-text-sm{font-size:.9em;}
.popup-title{font-size:1.4em;}
.row.no-pad {
    margin-right:0;
    margin-left:0;
  }
  .row.no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }
#read-more-popup{
    border-style:none;
    box-shadow: none;
    background-color: transparent;
    color:blue;
}
/* Legends */
#legend-main{
    position:absolute;
    z-index:4;
    width:25em;
    height:10em;
    right:.45em;
    bottom:.45em;
    background-color: #72AA9F;
}
#legend-container{
    height:15px;
    width:90%;
    margin-left:5%;
    padding:0;
    margin-bottom:5px;
    border-style:none;
}
#max-legend-value{position:absolute;bottom:0;right:0;padding:0;}
#min-legend-value{position:absolute;bottom:0;left:0;padding:0;}
.gw-legend{
    background: rgb(0,33,64);
    background: linear-gradient(90deg, rgba(0,33,64,0.05085784313725494) 0%, rgba(0,33,64,1) 100%);
}
.pe-legend{
    background: rgb(89,144,192);
    background: linear-gradient(90deg, rgba(89,144,192,0) 0.1%, rgba(89,144,192,1) 100%);
}