body { margin: 0; padding: 0; }
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: none;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%;height:75vh; }
#popup-window-buttons{display:none;}
.add-control {
    position:absolute;
    z-index:4;
    background-color: white;
    border: 0;
    border-radius:4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 29px;
    outline: none;
    overflow: hidden;
    padding: 0;
    width: 29px;
}

#share-control{
    right:.73em;
    top:7.1em;
}
#extent-control{
    right:.73em;
    top:9.4em;
}
#basemap-control{
    right:.73em;
    top:11.7em;
}
#basemap-list{
    position:absolute;
    z-index:4;
    border-radius:4px;
    color:black;
    background-color: #DADADA;
    right:.73em;
    top: 16.4em;
    width:10em;
}
.card{border-style:none!important;}
.filter-colors{
    /* background-color: rgb(88, 182, 150) */
    background-color: #3d3b3b;
    color:white;
}
#filter-container{
    position:absolute;z-index:4;bottom:0;
    height:25vh;
}
#filter-button{
    position:absolute;z-index:4;bottom:0;left:2.5em;
    margin-left:1.5em;
    /* background-color:rgba(127, 255, 212, 0.9); */
    background-color: #919191;
    width:8em;height:2em;
    border-style:none;
    border-top-left-radius: 10px;border-top-right-radius: 10px;
    border-bottom-left-radius:0px;border-bottom-right-radius:0px;
    color:white;
}
#filter-content{
    /* background: rgb(145,145,145); */
    background: linear-gradient(90deg, rgba(145,145,145,1) 0%, rgba(230,230,230,1) 100%);
    /* background-color:rgba(127, 255, 212, 0.9); */
    margin:0;padding:0;
    width:100vw;height:100%;
    color:white;
    display:flex;
}
.card-filter{
    color:white;
    height:12.5em;
}
.card-filter-header{
    font-size:.9em!important;
}
.card-filter-body{
    overflow-x: scroll;
}
.filter-treeviews{
    overflow-y: scroll;
    max-height:8em;
}
.treeview a {
    font-size: .7em;
}
.checkbox .check, .checkbox .caption, .radio .check, .radio .caption{
    font-size: .7em;
    width:12px;height:12px;
}
#slider-return-value{
    width:97%;
    margin:1%;
    border-style:none;
}